div div {
    background-color: rgb(175, 172, 172);
    outline: 1px solid rgb(75, 72, 72);
}

@media all and (max-width: 767px) {

}
@media all and (min-width: 768px) {
    body {
        max-width: 960px;
        margin: auto;
    }
    
}